/* This file is part of F3TextViewerFX.
 * 
 * F3TextViewerFX is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * F3TextViewerFX is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with F3TextViewerFX.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * Copyright 2015 by Dominic Scheurer <dscheurer@dominic-scheurer.de>.
 */

.errorTextField { -fx-background-color: red; }

/* Directory list view */
#fileList { font-family:Georgia, Times, serif; font-size:15.0px; }
#fileList ul { list-style: none; padding: 0.0; }
#fileList ul li { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30.0px;
  border-bottom-style:solid; border-bottom-width:1.0px; border-bottom-color:#CCCCCC; padding-left:10.0px; }
#fileList ul li.even {background-color: #d8d8d8;}
#fileList ul li:hover { color:#FFFFFF; background-color:#007df5; }
.fileName { font-weight: bold; }

/* File contents view */
div.entry {margin-bottom: 10.0px;}
div.content {background-color: #d8d8d8; margin-top: 0.0; padding: 10.0px;}
div.entry > h3 {background-color: #b5b5b5; padding: 10.0px; margin: 0.0;}